:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --white-color: #ffffff;
  --modal-bg-color: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

h2,
h3 {
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
* {
  margin: 0;
}

.logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--dark-color);
}

.header-nav-link {
  color: var(--dark-color);
  font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--pressed-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-color);
}

.hero {
  background-color: var(--hero-bg-color);
}
.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  font-weight: 700;
  max-width: 500px;
  letter-spacing: 0.02em;
}
.hero-cta {
  color: var(--white-color);
  background-color: var(--primary-color);
  letter-spacing: 0.04em;
  font-weight: 500;
}
.hero-cta:hover,
.hero-cta:focus {
  background-color: var(--pressed-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.team {
  background-color: var(--light-color);
  .card {
    background-color: var(--white-color);
  }
}

.card {
  background-color: var(--white-color);
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--hero-bg-color);
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-logo-accent {
  color: var(--light-color);
}
.footer-text {
  color: var(--light-color);
}
